@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,700;1,100;1,700&family=Urbanist:wght@700&display=swap");

.disconenctButton {
  border: 2px solid #5142fc;
  padding: 14px 35px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Urbanist", sans-serif;
  transition: 0.3s;
  margin-top: -15px;
}
.disconenctButton:hover {
  background: #fff;
  color: #5142fc;
  border: none;
  cursor: default;
}

.switch{
  border: 2px solid #5142fc;
  transition: 0.3s;
  padding: 0 !important;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (min-width:992px) {
  .menu-item {
    display: none;
  }
}